<div class="pull-right">
    <div class="xmlBtn sideBtn pointer btn btn-warning" style="display:none;">
        <span>View Current XML</span>
    </div>
</div>
<div class="pull-right">
    <div class="downloadDraggableIcons sideBtn pointer btn btn-default" style="display:none;">
        <span>Download Scaled Draggables</span>
    </div>
</div>
<div class="pull-right">
    <div class="downloadCutImages sideBtn pointer btn btn-danger" style="display:none;">
        <span>Download Cut Images</span>
    </div>
</div>